
<div class="container_16">
	
	<div class="grid_6">
<h2>Update your location and info!</h2>

<%= render 'form' %>

	</div>
	<div id="map_canvas" class="grid_10 top_60"><!-- map goes here --></div>
	
</div>
