

#notice
{
	text-align:center;
	background-color:#ccc;
	font-size:16px;
	height:30px;
	width:auto;
}
.submit > div:hover
{
background-color:#ccc;
cursor:pointer;	
}
/* table styles */
table
{
	border:solid 1px #ccc;
	width:1070px;
}
table th
{
	background-color:#444;
	color:white;
}
table tr
{
	padding:10px;
}
table td
{
	padding:10px;
}

/* headings */

#sold
{
	width:90px;
}

/* rows */
.sold
{
	width:60px;
}