<div class="wrap center top_60 bottom_160 border_big"><h2 class="future">BETA SIGNUP</h2>
	
<p>Want to be an early tester? Tell us a little about yourself and we'll let you know when you can start.</p>
<%=render "/beta_signups/user"%>
</div>