<div class="container_16">
<div id="welcome" class="grid_16 top_60 center">
<h1 id="logo"><%=link_to 'T I C K E T S T R E E T','/', :class=>'logo'%></h1>
<span>Buy and sell tickets up to and beyond event time!</span>
</div>
<div class="grid_16 top_50 border_top_1">
	<p class="top_30 helv">
<b>Welcome</b> to Ticket Street!  We make it easy to buy and sell your tickets on the day of the event.  Listing tickets is a snap.  Finding buyers couldn't be easier with our GPS enabled map interface. <br /><br />  Looking to go to an event? Check out all the tickets available and contact the buyer directly to avoid any third party hassle.
 	</p>
<%if current_user && current_user.role?("admin")%>
<%=render :partial=>"home/normal_home"%>
<%elsif current_user%>
<%=render :partial=>"home/beta_home"%>
<%else%>
<%=render :partial=>"home/beta_signup"%>
<%#=render :partial=>"home/signup"%>
<%end%>
</div>
</div>