<div id="welcome">
<h1>seatfu!</h1>
<span>Buy and sell tickets up to and beyond event time!</span>
</div>
<%if current_user && current_user.role?("admin")%>
<%=render :partial=>"home/normal_home"%>
<%elsif current_user%>
<%=render :partial=>"home/beta_home"%>
<%else%>
<%=render :partial=>"home/beta_signup"%>
<%#=render :partial=>"home/signup"%>
<%end%>