<div class="container_16">
<div id="welcome" class="grid_16 top_60 center">
<h1 id="logo"><%=link_to 'T I C K E T S T R E E T','/', :class=>'logo'%></h1>
<span>Buy and sell tickets up to and beyond event time!</span>
</div>
<div class="grid_16 top_50 border_top_1">
Ticket Street is changing how you buy and sell tickets on the day of the event.  Easily find buyers using your smart phone.  Sellers can simply list their tickets and get their money for their extra tickets. 
<%if current_user && current_user.role?("admin")%>
<%=render :partial=>"home/normal_home"%>
<%elsif current_user%>
<%=render :partial=>"home/beta_home"%>
<%else%>
<%=render :partial=>"home/beta_signup"%>
<%#=render :partial=>"home/signup"%>
<%end%>
</div>
</div>