<div class="container_16">
	<h1 id="tos">Terms of Service</h1>
	<ul>
		<li>
			You agree to not use this software to aid in illegal activites.
		</li>
		<li>
			You agree to not falsify information related to your ticket buying or selling listings.
		</li>
		<li>
			You agree to make a reasonable effort to follow through with your commitments that you make to other Ticket Street users.
		</li>
	</ul>
	<h1 id="disclaimer">Disclaimers</h1>
	<ul>
		<li>
			Ticket Street is not liable for your site activity or anything that happens between a buyer and a seller who meet via the Ticket Street app.  We only provide a platform and a general guideline (rating) to help you gauge whether or not you want to deal with an individual.  Please be aware that counterfeiters DO exist and that it is ultimately your decision to purchase from a source other than the primary ticket seller for an event.
		</li>
	</ul>
</div>