<div class="container_16 border_top_1 bottom_50 top_50">
	
	<div class="grid_8"><%=link_to image_tag("/images/facebook.png", :mouseover=>"/images/facebook-blue.png"), "http://facebook.com"%> <%=link_to image_tag("/images/twitter.png", :mouseover=>"/images/twitter-blue.png"), "http://twitter.com"%>
	<div class="grid_8">Contact me with any questions at danny [at] ticketstreetapp [dot] com</div>
</div>
		<div class="container_16 centert top_10 bottom_10">© 2011 Sharks With Lazers, LLC.  Use of this website constitutes acceptance of the <%=link_to 'Terms of Service', '/root/tos'%> and that you have read our <%=link_to 'Disclaimers', "/root/tos#disclaimer"%>
		</div>
