<div class="grid_16 border_top_1 bottom_50 top_50">
	<div class="grid_8">copyright 2011 Ticket Street</div>
	<div class="grid_8"><%=link_to image_tag("/images/facebook.png", :mouseover=>"/images/facebook-blue.png"), "http://facebook.com"%> <%=link_to image_tag("/images/twitter.png", :mouseover=>"/images/twitter-blue.png"), "http://twitter.com"%>